In [1]:
import pandas as pd
import pickle

In [2]:
vocab_clinical = pickle.load(open('../SeqModel/all_vocab_clinical.sav', 'rb'))
vocab_therapy = pickle.load(open('../SeqModel/all_vocab_therapy.sav', 'rb'))

data_clinical = pd.read_feather('../SeqModel/all_data_clinical.feather')
data_therapy = pd.read_feather('../SeqModel/all_data_therapy.feather')

vocab_stat_clinical = pd.read_csv('../FinalData/pivotClinicalCodesbyCountry.csv')
vocab_stat_therapy = pd.read_csv('../FinalData/pivotTherapyCodesbyCountry.csv')

In [6]:
#vocab and code2idx generation
idx_clinical = range(1, len(vocab_clinical)+1)

code2idx_clinical = dict(zip(vocab_clinical, idx_clinical))
idx2code_clinical = dict(zip(idx_clinical, vocab_clinical))

code2idx_clinical['PAD'] = 0
idx2code_clinical[0] = 'PAD'
# idx2code_all[1] = 'NO_CODE'
# idx2code_all[2] = 'start_visit'
# idx2code_all[3] = 'end_visit'
VOCAB_SIZE = len(code2idx_clinical)
print('code2idx Size: {}'.format(len(code2idx_clinical)))
print('idx2code Size: {}'.format(len(idx2code_clinical)))

# month_vocab = pickle.load(open('../SeqModel/month_vocab.sav', 'rb'))

code2idx Size: 75810
idx2code Size: 75810

In [10]:
data_clinical.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months,read_code_seq_padded
0,43671012,"[65736, 51831, 47442, 23669, 54300, 22478, 638...","[65736, 51831, 47442, 23669, 54300, 22478, 638...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",England,16,0,0,0,0,"[242.., 246A., 8B314, R0023, 2469., XaMiI, 246..."
1,43655540,"[60831, 31316, 35549, 40619, 31180, 24942, 643...","[60831, 31316, 35549, 40619, 31180, 24942, 643...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...",England,67,0,1,1,1,"[42A.., X77Wi, 44O.., 423.., 428.., 42ZD., 44J..."
2,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[16748, 36519, 47808, 65736, 65678, 63979, 147...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ...",England,41,0,0,0,0,"[3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaX..."
3,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[69021, 59826, 62564, 47442, 59771, 18293, 264...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",England,20,0,0,0,0,"[Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663..."
4,43611754,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[62065, 58863, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,21,0,0,0,0,"[173A., XaASl, PAD, PAD, PAD, PAD, PAD, PAD, P..."

In [9]:
data_clinical['read_code_seq_padded'] = data_clinical['read_code_seq_padded_end_idx'].apply(lambda x: [idx2code_clinical.get(key) for key in x])

In [3]:
new_vocab_clinical = vocab_stat_clinical.sort_values('%patient', ascending=False).code_id.values

In [4]:
len(new_vocab_clinical)

75809

In [5]:
pickle.dump(new_vocab_clinical, open('../SeqModel/all_vocab_clinical_new.sav', 'wb'))

In [18]:
#vocab and code2idx generation
new_idx_clinical = range(1, len(new_vocab_clinical)+1)

new_code2idx_clinical = dict(zip(new_vocab_clinical, new_idx_clinical))
new_idx2code_clinical = dict(zip(new_idx_clinical, new_vocab_clinical))

new_code2idx_clinical['PAD'] = 0
new_idx2code_clinical[0] = 'PAD'
# idx2code_all[1] = 'NO_CODE'
# idx2code_all[2] = 'start_visit'
# idx2code_all[3] = 'end_visit'
VOCAB_SIZE = len(new_code2idx_clinical)
print('new code2idx Size: {}'.format(len(new_code2idx_clinical)))
print('new idx2code Size: {}'.format(len(new_idx2code_clinical)))

# month_vocab = pickle.load(open('../SeqModel/month_vocab.sav', 'rb'))

new code2idx Size: 75810
new idx2code Size: 75810

In [24]:
data_clinical['read_code_seq_padded_end_idx_new'] = data_clinical['read_code_seq_padded'].apply(lambda x: [new_code2idx_clinical.get(key) for key in x])

In [25]:
data_clinical.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months,read_code_seq_padded,read_code_seq_padded_end_idx_new
0,43671012,"[65736, 51831, 47442, 23669, 54300, 22478, 638...","[65736, 51831, 47442, 23669, 54300, 22478, 638...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",England,16,0,0,0,0,"[242.., 246A., 8B314, R0023, 2469., XaMiI, 246...","[35, 5, 50, 5279, 4, 27, 34, 767, 91, 27, 28, ..."
1,43655540,"[60831, 31316, 35549, 40619, 31180, 24942, 643...","[60831, 31316, 35549, 40619, 31180, 24942, 643...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...",England,67,0,1,1,1,"[42A.., X77Wi, 44O.., 423.., 428.., 42ZD., 44J...","[9, 36, 118, 43, 47, 433, 51, 29, 40, 276, 156..."
2,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[16748, 36519, 47808, 65736, 65678, 63979, 147...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ...",England,41,0,0,0,0,"[3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaX...","[61, 696, 70, 35, 167, 284, 620, 373, 110, 46,..."
3,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[69021, 59826, 62564, 47442, 59771, 18293, 264...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",England,20,0,0,0,0,"[Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663...","[42, 305, 94, 50, 1, 46, 193, 433, 16, 17, 49,..."
4,43611754,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[62065, 58863, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,21,0,0,0,0,"[173A., XaASl, PAD, PAD, PAD, PAD, PAD, PAD, P...","[992, 556, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [26]:
data_clinical.to_feather('../SeqModel/all_data_clinical_new.feather')