In [1]:
import pandas as pd
import pickle

In [2]:
vocab_clinical = pickle.load(open('../SeqModel/all_vocab_clinical.sav', 'rb'))
vocab_therapy = pickle.load(open('../SeqModel/all_vocab_therapy.sav', 'rb'))

data_clinical = pd.read_feather('../SeqModel/all_data_clinical.feather')
data_therapy = pd.read_feather('../SeqModel/all_data_therapy.feather')

vocab_stat_clinical = pd.read_csv('../FinalData/pivotClinicalCodesbyCountry.csv')
vocab_stat_therapy = pd.read_csv('../FinalData/pivotTherapyCodesbyCountry.csv')

In [3]:
#vocab and code2idx generation
idx_therapy = range(1, len(vocab_therapy)+1)

code2idx_therapy = dict(zip(vocab_therapy, idx_therapy))
idx2code_therapy = dict(zip(idx_therapy, vocab_therapy))

code2idx_therapy['PAD'] = 0
idx2code_therapy[0] = 'PAD'
# idx2code_all[1] = 'NO_CODE'
# idx2code_all[2] = 'start_visit'
# idx2code_all[3] = 'end_visit'
VOCAB_SIZE = len(code2idx_therapy)
print('code2idx Size: {}'.format(len(code2idx_therapy)))
print('idx2code Size: {}'.format(len(idx2code_therapy)))

# month_vocab = pickle.load(open('../SeqModel/month_vocab.sav', 'rb'))

code2idx Size: 14564
idx2code Size: 14564

In [4]:
data_therapy.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months
0,43655540,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6021, 6555, 1144, 35, 11227, 13415, 5465, 587...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...",England,67,0,1,1,1
1,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6555, 6555, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,41,0,0,0,0
2,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5932, 8976, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,20,0,0,0,0
3,43544500,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5038, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,20,0,0,0,0
4,43552659,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1589, 6842, 5465, 8126, 4305, 2912, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,55,0,0,0,0

In [5]:
data_therapy['read_code_seq_padded'] = data_therapy['read_code_seq_padded_end_idx'].apply(lambda x: [idx2code_therapy.get(key) for key in x])

In [3]:
new_vocab_therapy = vocab_stat_therapy.sort_values('%patient', ascending=False).code_id.values

In [6]:
pickle.dump(new_vocab_therapy, open('../SeqModel/all_vocab_therapy_new.sav', 'wb'))

In [7]:
len(new_vocab_therapy)

14563

In [8]:
#vocab and code2idx generation
new_idx_therapy = range(1, len(new_vocab_therapy)+1)

new_code2idx_therapy = dict(zip(new_vocab_therapy, new_idx_therapy))
new_idx2code_therapy = dict(zip(new_idx_therapy, new_vocab_therapy))

new_code2idx_therapy['PAD'] = 0
new_idx2code_therapy[0] = 'PAD'
# idx2code_all[1] = 'NO_CODE'
# idx2code_all[2] = 'start_visit'
# idx2code_all[3] = 'end_visit'
VOCAB_SIZE = len(new_code2idx_therapy)
print('new code2idx Size: {}'.format(len(new_code2idx_therapy)))
print('new idx2code Size: {}'.format(len(new_idx2code_therapy)))

# month_vocab = pickle.load(open('../SeqModel/month_vocab.sav', 'rb'))

new code2idx Size: 14564
new idx2code Size: 14564

In [9]:
data_therapy['read_code_seq_padded_end_idx_new'] = data_therapy['read_code_seq_padded'].apply(lambda x: [new_code2idx_therapy.get(key) for key in x])

In [10]:
data_therapy.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months,read_code_seq_padded,read_code_seq_padded_end_idx_new
0,43655540,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6021, 6555, 1144, 35, 11227, 13415, 5465, 587...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...",England,67,0,1,1,1,"[e758., fe62., e927., c8o1., c1Dw., l81z., bxd...","[8, 3, 12, 30, 163, 28, 91, 1089, 371, 1006, 0..."
1,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[6555, 6555, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,41,0,0,0,0,"[fe62., fe62., PAD, PAD, PAD, PAD, PAD, PAD, P...","[3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5932, 8976, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,20,0,0,0,0,"[c1c1., c13J., PAD, PAD, PAD, PAD, PAD, PAD, P...","[395, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,43544500,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[5038, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,20,0,0,0,0,"[c66d., PAD, PAD, PAD, PAD, PAD, PAD, PAD, PAD...","[5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,43552659,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1589, 6842, 5465, 8126, 4305, 2912, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,55,0,0,0,0,"[a6b1., da41., bxd2., bi67., blh1., fg51., PAD...","[7, 43, 91, 84, 374, 202, 0, 0, 0, 0, 0, 0, 0,..."

In [11]:
data_therapy.to_feather('../SeqModel/all_data_therapy_new.feather')