In [1]:
import pandas as pd
import pickle
import numpy as np

In [4]:
vocab_clinical = pickle.load(open('../SeqModel/all_vocab_clinical_new.sav', 'rb'))
vocab_therapy = pickle.load(open('../SeqModel/all_vocab_therapy_new.sav', 'rb'))

data_clinical = pd.read_feather('../SeqModel/all_data_clinical_new.feather')
data_therapy = pd.read_feather('../SeqModel/all_data_therapy_new.feather')

vocab_stat_clinical = pd.read_csv('../FinalData/pivotClinicalCodesbyCountry.csv')
vocab_stat_therapy = pd.read_csv('../FinalData/pivotTherapyCodesbyCountry.csv')

In [5]:
data_clinical.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months,read_code_seq_padded,read_code_seq_padded_end_idx_new
0,43671012,"[65736, 51831, 47442, 23669, 54300, 22478, 638...","[65736, 51831, 47442, 23669, 54300, 22478, 638...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",England,16,0,0,0,0,"[242.., 246A., 8B314, R0023, 2469., XaMiI, 246...","[35, 5, 50, 5279, 4, 27, 34, 767, 91, 27, 28, ..."
1,43655540,"[60831, 31316, 35549, 40619, 31180, 24942, 643...","[60831, 31316, 35549, 40619, 31180, 24942, 643...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...",England,67,0,1,1,1,"[42A.., X77Wi, 44O.., 423.., 428.., 42ZD., 44J...","[9, 36, 118, 43, 47, 433, 51, 29, 40, 276, 156..."
2,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[16748, 36519, 47808, 65736, 65678, 63979, 147...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ...",England,41,0,0,0,0,"[3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaX...","[61, 696, 70, 35, 167, 284, 620, 373, 110, 46,..."
3,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[69021, 59826, 62564, 47442, 59771, 18293, 264...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",England,20,0,0,0,0,"[Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663...","[42, 305, 94, 50, 1, 46, 193, 433, 16, 17, 49,..."
4,43611754,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[62065, 58863, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,21,0,0,0,0,"[173A., XaASl, PAD, PAD, PAD, PAD, PAD, PAD, P...","[992, 556, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [25]:
def remove_padding(x):
    return np.delete(x, np.where(x=='PAD'))

In [27]:
data_clinical.apply(lambda x: remove_padding(x['read_code_seq_padded']), axis=1)

0         [242.., 246A., 8B314, R0023, 2469., XaMiI, 246...
1         [42A.., X77Wi, 44O.., 423.., 428.., 42ZD., 44J...
2         [3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaX...
3         [Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663...
4                                            [173A., XaASl]
                                ...
675255    [9OS2., XaJ50, XaIej, wm9a., XaIek, 8B41., XaI...
675256    [9O41., XaMiI, Xa7sK, XaCFL, XB001, X77c1, 1.....
675257    [2469., 9N31., 46..., 1366., 9O21., 9O21., 243...
675258    [XaF8d, XaJlT, 9OJ4., XaMJa, XaOwL, X77Qu, 663...
675259    [Xab9D, XacWQ, 9344., XaF8d, XaPP8, XaRFh, 137...
Length: 675260, dtype: object

In [21]:
np.delete(a, np.where(a=='PAD'))

array(['XaIeq', '663N.', '663P.', 'XaIIZ', 'Xa1hD', 'Xa83j', '8794.',
       'XaZ4m', '9OJ..', 'XaIQD', 'Ub1na', '3395.', 'X770D'], dtype=object)

In [16]:
a

array(['XaIeq', '663N.', '663P.', 'XaIIZ', 'Xa1hD', 'Xa83j', '8794.',
       'XaZ4m', '9OJ..', 'XaIQD', 'Ub1na', '3395.', 'X770D', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD',
       'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD', 'PAD'],
      dtype=object)

In [3]:
new_vocab_clinical = vocab_stat_clinical.sort_values('%patient', ascending=False).code_id.values

In [4]:
len(new_vocab_clinical)

75809

In [5]:
pickle.dump(new_vocab_clinical, open('../SeqModel/all_vocab_clinical_new.sav', 'wb'))

In [18]:
#vocab and code2idx generation
new_idx_clinical = range(1, len(new_vocab_clinical)+1)

new_code2idx_clinical = dict(zip(new_vocab_clinical, new_idx_clinical))
new_idx2code_clinical = dict(zip(new_idx_clinical, new_vocab_clinical))

new_code2idx_clinical['PAD'] = 0
new_idx2code_clinical[0] = 'PAD'
# idx2code_all[1] = 'NO_CODE'
# idx2code_all[2] = 'start_visit'
# idx2code_all[3] = 'end_visit'
VOCAB_SIZE = len(new_code2idx_clinical)
print('new code2idx Size: {}'.format(len(new_code2idx_clinical)))
print('new idx2code Size: {}'.format(len(new_idx2code_clinical)))

# month_vocab = pickle.load(open('../SeqModel/month_vocab.sav', 'rb'))

new code2idx Size: 75810
new idx2code Size: 75810

In [24]:
data_clinical['read_code_seq_padded_end_idx_new'] = data_clinical['read_code_seq_padded'].apply(lambda x: [new_code2idx_clinical.get(key) for key in x])

In [25]:
data_clinical.head()

,patid,read_code_seq_padded_idx,read_code_seq_padded_end_idx,month_padded_idx,month_padded_idx_end,Country,age,3months,6months,9months,12months,read_code_seq_padded,read_code_seq_padded_end_idx_new
0,43671012,"[65736, 51831, 47442, 23669, 54300, 22478, 638...","[65736, 51831, 47442, 23669, 54300, 22478, 638...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",England,16,0,0,0,0,"[242.., 246A., 8B314, R0023, 2469., XaMiI, 246...","[35, 5, 50, 5279, 4, 27, 34, 767, 91, 27, 28, ..."
1,43655540,"[60831, 31316, 35549, 40619, 31180, 24942, 643...","[60831, 31316, 35549, 40619, 31180, 24942, 643...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 4, ...",England,67,0,1,1,1,"[42A.., X77Wi, 44O.., 423.., 428.., 42ZD., 44J...","[9, 36, 118, 43, 47, 433, 51, 29, 40, 276, 156..."
2,43582797,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[16748, 36519, 47808, 65736, 65678, 63979, 147...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ...",England,41,0,0,0,0,"[3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaX...","[61, 696, 70, 35, 167, 284, 620, 373, 110, 46,..."
3,43554478,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[69021, 59826, 62564, 47442, 59771, 18293, 264...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",England,20,0,0,0,0,"[Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663...","[42, 305, 94, 50, 1, 46, 193, 433, 16, 17, 49,..."
4,43611754,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[62065, 58863, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",England,21,0,0,0,0,"[173A., XaASl, PAD, PAD, PAD, PAD, PAD, PAD, P...","[992, 556, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [26]:
data_clinical.to_feather('../SeqModel/all_data_clinical_new.feather')

In [2]:
data_clinical = pd.read_feather('../SeqModel/all_data_clinical_new.feather')

In [9]:
def remove_padding(x):
    return np.delete(x, np.where(x=='PAD'))
data_clinical['read_code_seq_padded_noPAD'] = data_clinical.read_code_seq_padded.apply(lambda x: np.delete(x, np.where(x=='PAD')))
data_clinical['text'] = data_clinical['read_code_seq_padded_noPAD'].apply(lambda x: ' '.join(x))

In [33]:
from sklearn.model_selection import train_test_split
target_outcomes = '12months'
ignore, use = train_test_split(data_clinical, stratify=data_clinical[target_outcomes], test_size=0.01, random_state=1234)
search_train, search_dev = train_test_split(use, stratify=use[target_outcomes], test_size=0.2, random_state=1234)
search_train, search_val = train_test_split(search_train, stratify=search_train[target_outcomes], test_size=0.2, random_state=1234)
search_train.reset_index(inplace=True, drop=True)
search_val.reset_index(inplace=True, drop=True)
print(search_train.shape)
print(search_dev.shape)
print(search_val.shape)

(4321, 15)
(1351, 15)
(1081, 15)

In [24]:
for text in search_train.text.values:
    with open('../SeqModel/data_read_train.txt', 'a') as the_file:
        the_file.write(text + '\n')

In [25]:
!wc -lw ../SeqModel/data_read_train.txt

   5402  541382 ../SeqModel/data_read_train.txt

In [34]:
train = search_train[['text', '12months']]
dev = search_dev[['text', '12months']]
val = search_val[['text', '12months']]

In [54]:
train = train.rename(columns={'text': 'sentence', '12months': 'label'})
dev = dev.rename(columns={'text': 'sentence', '12months': 'label'})
val = val.rename(columns={'text': 'sentence', '12months': 'label'})

In [58]:
train.to_csv('../transformer_model/data/train.csv', index=None, sep='\t', mode='a')
dev.to_csv('../transformer_model/data/dev.csv', index=None, sep='\t', mode='a')
val.to_csv('../transformer_model/data/test.csv', index=None, sep='\t', mode='a')