In [1]:
import pandas as pd

In [10]:
clinical_specific_readcode = pd.read_csv('../FinalData/pivotClinicalCodesbyCountry_specific.csv')
therapy_specific_readcode = pd.read_csv('../FinalData/pivotTherapyCodesbyCountry_specific.csv')
read2term = pd.read_csv('../FinalData/Read2Term.csv')
term2desc = pd.read_csv('../FinalData/Term2Desc.csv')

In [11]:
term2desc

,TERMID,TERMSTATUS,TERM30,TERM60,CCSTATUS,CONTYPE,LEVEL
0,YMLch,O,"""Black-eye""","""Black-eye""",E,0,0
1,YMJgt,O,"""Blocked ear""","""Blocked ear""",E,0,0
2,YMJgi,O,"""Bumping"" of heart","""Bumping"" of heart",E,0,0
3,YMJgj,O,"""Fluttering"" of heart","""Fluttering"" of heart",E,0,0
4,YMKG0,O,"""Infant of diabetic mother""syn","""Infant of a diabetic mother"" syndrome",E,0,0
...,...,...,...,...,...,...,...
351465,YaWHI,C,Vibr cholerae 01 El Tor Inaba,Vibrio cholerae 01 El Tor Inaba,C,1028,18
351466,YaWHJ,C,Vibr cholerae 01 El Tor Ogawa,Vibrio cholerae 01 El Tor Ogawa,C,1028,18
351467,YaWHO,C,Vib chol 01 classical Hikoj,Vibrio cholerae 01 classical Hikojima,C,1028,18
351468,YaWHM,C,Vibr chol 01 classical Inaba,Vibrio cholerae 01 classical Inaba,C,1028,18
351469,YaWHN,C,Vib chol 01 classical Ogawa,Vibrio cholerae 01 classical Ogawa,C,1028,18

In [12]:
clinical_specific_readcode = clinical_specific_readcode.merge(read2term[['CC', 'TERMID']], left_on='code_id', right_on='CC', how='left')
clinical_specific_readcode = clinical_specific_readcode.merge(term2desc[['TERMID', 'TERM30']], on = 'TERMID', how='left')

In [16]:
clinical_specific_readcode[clinical_specific_readcode['%England'] == 100]

,code_id,England,Scotland,Wales,%England,%Scotland,%Wales,CC,TERMID,TERM30
19,137K0,4.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
34,137V.,2.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
35,137X.,26.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
36,137g.,116.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
37,137j.,194.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1948,x00Af,210.0,0.0,0.0,100.0,0.0,0.0,x00Af,y03Pw,Salbutamol
1949,x00gF,2.0,0.0,0.0,100.0,0.0,0.0,x00gF,y03QG,Pulmicort 200mcg Turbohaler
1950,x00yP,108.0,0.0,0.0,100.0,0.0,0.0,x00yP,y03LX,Oral prednisolone
1951,x01Na,2.0,0.0,0.0,100.0,0.0,0.0,x01Na,y04AI,Oral hydrocortisone
1952,x02uD,24.0,0.0,0.0,100.0,0.0,0.0,x02uD,y090D,Ventolin