In [35]:
import pandas as pd
import pyreadr
import numpy as np
import torch
import pickle

In [2]:
#add paractice information
practice = pyreadr.read_r('../ServerData_13Oct2020/f_clinical_part1.Rdata')
practice = practice['f_clinical_part']

/opt/conda/envs/rapids/lib/python3.10/site-packages/pyreadr/_pyreadr_parser.py:233: RuntimeWarning: invalid value encountered in cast
  df[colname] = df[colname].values.astype("datetime64[D]").astype(datetime)
/opt/conda/envs/rapids/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
/opt/conda/envs/rapids/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:557: RuntimeWarning: invalid value encountered in multiply
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
/opt/conda/envs/rapids/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
/opt/conda/envs/rapids/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:557: RuntimeWarning: invalid value encountered in multiply
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

In [3]:
#data selection 
practice = practice.dropna(subset=['code_id'])
practice['event_date'] = pd.to_datetime(practice['event_date'])
practice = practice.loc[(practice['event_date'] >= '2016-01-01') & (practice['event_date'] < '2018-01-01')]

In [4]:
practice.code_id.unique().shape

(19859,)

In [5]:
#vocab and code2idx generation
vocab = practice.code_id.unique().tolist()
idx = range(1, len(vocab)+1)

code2idx = dict(zip(vocab, idx))
idx2code = dict(zip(idx, vocab))

code2idx['PAD'] = 0
idx2code[0] = 'PAD'
VOCAB_SIZE = len(code2idx)
print('code2idx Size: {}'.format(len(code2idx)))
print('idx2code Size: {}'.format(len(idx2code)))
# print(code2idx)

code2idx Size: 19860
idx2code Size: 19860

In [6]:
#extract year, month, day from event date
practice['day'] = practice.apply(lambda x: str(x['event_date'].day), axis=1)
practice['month'] = practice.apply(lambda x: str(x['event_date'].month), axis=1)
practice['year'] = practice.apply(lambda x: str(x['event_date'].year), axis=1)

In [7]:
practice.patid.unique().shape

(9951,)

In [8]:
# Outcomes data
outcomes = pd.read_csv("../FinalData/cleaned_outcomes_11072023.csv")

In [9]:
outcomes[outcomes.patid.isin(practice.patid.unique())].outcome_combined_12months.value_counts()

0    6565
1    1505
Name: outcome_combined_12months, dtype: int64

In [10]:
practice['read_code_seq'] = practice.sort_values(['event_date'], ascending=True).groupby('patid')['code_id'].transform(lambda x: ', '.join(x))

In [11]:
event_data_seq = practice.sort_values(['event_date']).groupby('patid').agg({'day': lambda x: x.tolist(),
                                                          'month': lambda x: x.tolist(),
                                                          'year': lambda x: x.tolist()}).reset_index()

In [12]:
practice = practice.drop_duplicates(subset=['patid']).reset_index(drop=True)

In [13]:
practice.head()

,id,patid,event_date,recorded_date,visit_id,code_id,snomed_id,numeric_1,numeric_2,created_datetime,updated_datetime,day,month,year,read_code_seq
0,1.141732e+09,43671012,2016-01-22,None,NaN,Xab9D,908481000000105,NaN,NaN,2020-02-18 19:46:46.609999872,2021-09-16 05:16:24.663000064,22,1,2016,"XaMiI, 663Q., XaY2V, XaINa, XaQHq, 8795., 1731..."
1,1.142251e+09,43655540,2016-01-22,None,NaN,XaEJK,313334002,NaN,NaN,2020-02-18 19:46:46.609999872,2021-09-16 05:16:24.663000064,22,1,2016,"246.., 2469., 246A., XaZ4m, 1737., XaIeq, H33...."
2,1.150410e+09,43582797,2016-01-12,None,NaN,Xa1hD,281239006,NaN,NaN,2020-02-18 19:46:46.609999872,2021-09-16 05:16:24.663000064,12,1,2016,"3395., 2E3.., X770D, 242.., Xa1hD, XaIer, XaXZ..."
3,1.155379e+09,43554478,2016-01-04,None,NaN,663N.,170631002,NaN,NaN,2020-02-18 19:46:46.609999872,2021-09-16 05:16:24.663000064,4,1,2016,"Ua1Nz, 663e., XaINd, 8B314, XaIeq, 1371., 663N..."
4,1.155159e+09,43611754,2016-01-13,None,NaN,173A.,31387002,NaN,NaN,2020-02-18 19:46:46.609999872,2021-09-16 05:16:24.663000064,13,1,2016,"173A., XaASl"

In [14]:
data = practice[['patid', 'read_code_seq']].merge(event_data_seq,  on='patid')

In [15]:
data = data.merge(outcomes[['patid', 'outcome_combined_12months']], on='patid')

In [16]:
data.outcome_combined_12months.value_counts()

0    6565
1    1505
Name: outcome_combined_12months, dtype: int64

In [17]:
data['read_code_seq'] = data['read_code_seq'].apply(lambda x: x.strip('""').split(', '))

In [18]:
data['length_read_code_seq'] = data['read_code_seq'].apply(lambda x: len(x))

In [19]:
data = data[data.length_read_code_seq > 50]

In [20]:
#padding
max_seq = 100
def make_uniform_data(x):
    if len(x) < max_seq:
        pads = ['PAD'] * (max_seq - len(x))
        return x + pads
    elif len(x) > max_seq:
        x = x[:max_seq]
        return x
    else:
        return x

In [21]:
data['read_code_seq_padded'] = data['read_code_seq'].apply(lambda x: make_uniform_data(x))

In [23]:
data['read_code_seq_padded_idx'] = data['read_code_seq'].apply(lambda x: [code2idx.get(key) for key in x])

In [29]:
X = np.array(data.read_code_seq_padded_idx.values)

In [30]:
X.shape

(6721,)

In [47]:
X[0]

[100,
 519,
 520,
 49,
 50,
 26,
 51,
 52,
 53,
 36,
 35,
 5,
 4,
 34,
 6,
 20,
 42,
 41,
 40,
 46,
 39,
 38,
 47,
 43,
 44,
 45,
 13,
 48,
 18,
 37,
 8,
 17,
 33,
 1768,
 30,
 32,
 31,
 32,
 431,
 63,
 76,
 66,
 736,
 75,
 77,
 78,
 80,
 71,
 83,
 244,
 265,
 93,
 65,
 72,
 258,
 81,
 91,
 84,
 92,
 82,
 67,
 64,
 69,
 90,
 79,
 74,
 274,
 247,
 70,
 73,
 89,
 68,
 1,
 29,
 297,
 663,
 663,
 3083,
 619,
 618,
 902,
 439,
 902,
 33,
 3276,
 189,
 908,
 3449,
 109,
 34,
 24,
 12899,
 134,
 353,
 37,
 52,
 41,
 51,
 8,
 145,
 9,
 49,
 35,
 5,
 28,
 519,
 1888,
 131,
 4,
 38,
 44,
 10,
 229,
 13,
 520,
 916,
 14,
 20,
 228,
 26,
 16,
 46,
 48,
 39,
 17,
 3730,
 45,
 100,
 146,
 23,
 141,
 28,
 67,
 68,
 63,
 66,
 80,
 92,
 591,
 274,
 736,
 82,
 71,
 247,
 78,
 265,
 65,
 64,
 93,
 81,
 72,
 621,
 621,
 28,
 621,
 28,
 2806,
 28,
 38,
 621,
 621,
 28,
 794,
 28,
 51,
 56,
 621,
 28,
 194,
 1301,
 1691,
 621,
 28,
 28,
 28,
 1301,
 1691,
 621,
 28,
 28,
 28,
 2011,
 621,
 3081,
 32,
 4916,
 204,
 3,
 2,
 28,
 1031,
 17062,
 1888,
 100,
 4227,
 30,
 519,
 520,
 543,
 17060,
 842,
 68,
 93,
 258,
 30,
 520,
 28,
 1691,
 78,
 1301,
 100,
 274,
 82,
 80,
 519]

In [33]:
data.outcome_combined_12months.value_counts()

0    5315
1    1406
Name: outcome_combined_12months, dtype: int64

In [41]:
#SAVE all important materials
pickle.dump(code2idx, open('../SeqModel/code2idx.sav', 'wb'))
pickle.dump(idx2code, open('../SeqModel/idx2code.sav', 'wb'))
data.to_csv('../SeqModel/seqDataRaw.csv', index_label=False, index=False)